<div class="tipr-continer col-xs-12 col-sm-12 mB">
      <div class="col-xs-12 col-sm-4 trip_picture">
            <a href="[path]" title="[title]">
            [field_image]
			</a>
       </div>
	   <div class="col-xs-12 col-sm-8">
	      <b class="circle_heart"><i class="icon-heart"></i></b>
          <h2><a href="[path]" title="[title]">[title]</a></h2>
          <h3>[field_location]</h3>
				 <div class="col-xs-12 col-sm-5">
				  [field_actual_duration]<span>DAYS</span><p>[field_trip_type]</p>
				  <hr/>
				   <ul class="trip_heart_ul">
								  <li>[field_actual_duration]<span>DAYS</span></li>
								  <li>[field_max_group_size]<span>MAX GROUP SIZE</span></li>
								  <li>
									<span class="span_two">
									  <img src="/sites/all/themes/trips/images/mod[field_difficulty_score].png">
									  <p>[field_difficulty_score]</p>
									  <b>[field_exp]</b>
									</span>
									<div class="wht_mgc_dd">
									  <div class="double_arrow">
										  <p class="arrow_one"></p>
										  <p class="arrow_two"></p>
										</div>
									  <ul>
										
										<img src="/sites/all/themes/trips/images/seven_hover_img.png" width="100%">
									  </ul>
									</div>
								  </li>
								</ul>
				  </div>
				 <div class="col-xs-12 col-sm-3 pull-right">
				   <h4 >[field_trip_date]</h4>
				   <h5>[field_trip_price]</h5>
				</div>
	   </div>
</div>
